
CarWashing_Management/CarWashing_Management/nbproject/private/private.properties
build/
/CarWashing_Management/CarWashing_Management/dist/

CarWashing_Management/CarWashing_Management/nbproject/genfiles.properties

CarWashing_Management/CarWashing_Management/nbproject/project.properties

CarWashing_Management/CarWashing_Management/nbproject/private/private.xml

CarWashing_Management/CarWashing_Management/nbproject/build-impl.xml
